# Java specific
*.class
*.jar
*.war
*.ear
*.db

# Maven specific
target/
*.iml
*.log
.idea/

# IntelliJ IDEA specific
.idea/
*.iws
*.ipr
*.iml

# OS specific files
.DS_Store
Thumbs.db

# Spring Boot related
spring-boot-devtools.properties
